# Activar RewriteEngine
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME}.php -f

#   Reescribir la URL solicitada por el usuario
# RewriteRule ^/$ /public/index.php
# RewriteRule ^(.*)$ /public/index.php


#RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
#RewriteRule ^/$ /public/index.php [L]

# rewrite css, js and images, from root
#RewriteRule ^/$ $1  [L]


# Aquí nos evitamos comprobar que sea un archivo (agrego comprobación
# para detectar también directorio) en cada conjunto de reglas
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [QSA,L]

# Obtenemos todo lo que vaya tras "assets/" y subdirectorios previstos
RewriteCond %{REQUEST_URI} (css|fonts|js|img)/(.+)$
# Entonces (si se cumplen todas las condiciones) redirigimos (R)
# y dejamos de evaluar el resto de reglas (L)
RewriteRule ^(.*)$ public/%1/%2 [L,R]

RewriteRule ^/$ /public/index.php
RewriteRule ^(.*)$ /public/index.php