 @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes drop {
    0% {
      bottom: 0px;
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      bottom: -100vh;
      /* Este es la distancia del recorrido de la gota*/
      /* 100 vh para que ocupe el 100% de la pantalla*/
    }
  }

  @keyframes wave {
    0% {
      background-position: 0 160px;
      background-size: 170px 300px;
    }

    100% {
      background-position: 500px -18px;
      background-size: 250px 150px;
    }
  }

  .container-gota {
    position: relative;
    margin-left: 207px;
    margin-top: -6px;
    
  }

  .container-gota span {
    z-index: 3;
  }


  .gota {
    -webkit-filter: url("#liquid");
    filter: url("#liquid");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    animation: fade-in 0.1s linear 0.4s forwards;
  }

  .gota1,
  .gota2 {
    width: 21px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #1a81bb;
  }

  .gota1 {
    height: 6px;
    bottom: 2px;
    border-radius: 0;
  }

  .gota2 {
    animation: drop 1.3s cubic-bezier(1, 0.19, 0.66, 0.12) 0.5s infinite;
  }